.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.todoList {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
  flex-direction: column;
}

.inputBox {
  display: flex;
  flex-direction: row;
  gap: 20px;
}